<title>Worker Selection</title>
<form method="POST">
    Supplier:<input type="text" name='workno'>
	<br><br>
	Metal:<input type="text" name='mtcode'>
	<br><br>
	Item:  <input type="text" name='itemcode'>
	<br><br>
	Quantity:  <input type="text" name='qty'>
	<br><br>
	Weight / Unit:  <input type="text" name='wtperunit'>
	<br><br>
    Carret:  <input type="text" name='carret'>
	<br><br>
	Design Type:  <input type="text" name='xrx_sam'>
	<br><br>
	duration:  <input type="text" name='duration'>
	<br><br>
	
	<input type="submit">
</forms>
